body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;

    font-family: 'Courier New', Courier, monospace;

}

h2 {
    text-align: center;
}

.container {
    background-color: lightpink;
    width: 60%;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


textarea {
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;

}



.counter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}


.total-counter {
    color: slateblue;
    font-size: 20px;
}


.remaining-counter {
    color: orangered;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
    display: flex;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(2, 72, 72);

}

@media screen and (max-width: 768px) {

    /* Styles to be applied when the screen width is 768px or less */
    body {
        background-color: lightblue;
        overflow: hidden;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    #container {
        display: block;
        justify-content: center;
        columns: 1;
        font-size: 16px;

    }
}